<div class="row hidden-xs">
  <div class="card-holder">
    <%= render 'card', title: 'Member Database', card_path: users_path, icon: 'user' %>
    <%= render 'card', title: 'Manage Rosters', card_path: rosters_path, icon: 'calendar' %>
    <%= render 'card', title: 'Mark Attendance', card_path: '#Attendance', icon: 'check' %>
    <%= render 'card', title: 'Manage Groups', card_path: groups_path, icon: 'list' %>
  </div>
</div>
