<div class="panel panel-default">
  <%= link_to card_path do %>
    <div class="panel-body">
      <i class="glyphicon glyphicon-<%= icon %> glyphicon-huge"></i>
    </div>
    <div class="panel-footer">
      <div class="panel-title"><%= title %></div>
    </div>
  <% end %>
</div>
