<div class="row hidden-xs">
  <div class="card-holder">
    <%= render 'card', title: 'Test Title', card_path: '/members', icon: 'user' %>
    <%= render 'card', title: 'Manage Rosters', card_path: '/rosters', icon: 'calendar' %>
    <%= render 'card', title: 'Mark Attendance', card_path: '#Attendance', icon: 'check' %>
    <%= render 'card', title: 'Manage Groups', card_path: '#Groups', icon: 'list' %>
  </div>
</div>
