<h3>Inbox (<%= @unread_messages.length %>)</h3>
<div class="panel panel-default">
	<div class="list-group">
		<% if @unread_messages.empty? %>
			<div class="list-group-item">
				<div class="notification-body">
					<h4>No new messages</h4>
				</div>
			</div>
		<% else %>
			<% @unread_messages.each do |msg| %>
				<div class="list-group-item">
					<div class="notification-body">

					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
