<% provide(:title, "Update Roster") %>
<div class="page-header">
	<h1>Update roster details</h1>
</div>
<ol class="breadcrumb">
	<li><%= link_to "Rosters", rosters_path %></li>
	<li><%= link_to @roster.title, @roster %></li>
	<li><%= link_to 'Edit Details', edit_roster_path(@roster) %></li>
</ol>


<div class="row">
  <div class="col-md-8">
    <%= render 'form' %>
  </div>
</div>
