<h1>Password Update</h1>

<p>
  Your password for civitasCRM has recently been updated. If you did not make this change, it is possible that an unauthorised individual has gained access to your account.
</p>

<p>
  To reset your password and regain control of your account, click the link below.
</p>

<%= link_to "Reset Password", new_password_reset_url %>
