<% link_type ||= :inclusive %>
<% show_active = (link_path[0] != '#' && is_active_link?(link_path, link_type)) ? 'active' : '' %>

<%= link_to link_path, class: show_active do %>
  <li class="sidebar-list-item <%= show_active %> ">
    <%= title %>
    <i class="glyphicon glyphicon-<%= icon %> pull-right"></i>
  </li>
<% end %>
