<% provide(:title, 'Edit Group') %>
<div class="page-header <%= 'tall-margin' unless flash.empty? %>">
	<h1>Update group information</h1>
</div>

<ol class="breadcrumb">
	<li><%= link_to "Groups", groups_path , data: { confirm: "Cancel will delete all change. Are you sure?" }%></li>
	<li><%= link_to @group.name, @group , data: { confirm: "Cancel will delete all change. Are you sure?" }%></li>
	<li class='active'>Edit</li>
</ol>

<div class="row">
  <div class="col-md-8">
    <%= render 'form' %>
  </div>
</div>
