<div class="list-group-item col-md-4" data-username="<%= user.name %>">
	<h4>
		<%= link_to user.name, user %>
		<%= link_to '#Show', class: 'picture-sym' do %>
			<i class="glyphicon glyphicon-picture pull-right"></i>
		<% end %>
	</h4>
</div>
