<div class="col-md-4">
    <div class="list-group-item">
    	<h4>
    		<%= link_to user.name, user %>
    		<%= link_to '#Show', class: 'picture-sym' do %>
    			<i class="glyphicon glyphicon-picture pull-right"></i>
    		<% end %>
    	</h4>
    </div>
</div>