<h1>civitasCRM</h1>
<p>
  Hi <%= @message.recipient.name %>,
</p>

<p>
  You have received a message on civitasCRM. 
</p>

<Quote>
  <h2>
    To: 
    @message.recipient.name
    From:
    @message.sender.name
  </h2>
  <p>
    @message.content
  </p>
</Quote>

