/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require bootstrap-datepicker3
 *= require_self
 *= require trix
 *= require select2
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$theme-background: #2c3d4f;
$theme-highlight: #1bbc9b;
$plain-background: #f5f5f5;

#trixheight{
	height: 200px;
}

#selecttwo{
	width: 200px;
}

body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.hidden-item {
	display: none;
}

.padded-row {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
}

.double-padded-row {
	padding-left: 30px;
}

.fa.large-icon {
	font-size: 1.3em;

	&.fa-square-o {
		padding-right: 2.6px;
	}
}

.hidden-item {
	display: none;
}

.scrollable-list-group {
	max-height: 600px;
	overflow-y: auto;
}

.user-details-table td {
	padding: 5px;
	font-size: 110%;
}

.notifications-badge {
	position: absolute;
	right: 55px;
	background-color: #ce2f42;
}

.badge-warning {
	background-color: #f0ad4e;
	border-color: #eea236;
}

a.dismiss-cross-link {
	color: #777777;
}

a.pull-right.navbar-brand {
	line-height: 47px;
}

.spaced {
	margin-right: 5px;
}

.bounded-row {
	margin-bottom: 20px;
}

.btn-group-vertical.btn-group-icons .btn {
	text-align: left;
}

.navbar-inverse {
	height: 70px;
	padding-top: 12px;
	border-radius: 0;
	.action-icon-holder {
		padding-top: 8px;
		a {
			color: white;
			font-size: 1.8em;
			padding: 0 5px;
		}
	}
	.navbar-brand {
		font-family: 'Signika', sans-serif;
		color: white;
		padding-top: 0;
		font-size: 1.6em;
		img {
			display: inline-block;
			padding-right: 5px;
		}
	}
}

.navbar {
	background-color: $theme-background;
}

.tall-margin {
	margin-top: 70px;
}

.flash-alert {
	margin-top: 10px;
}

#flash-holder {
	position: absolute;
	left: 280px;
	right: 30px;
}

#sidebar {
	padding: 20px 0 0 0;
	width: 250px;
	position: fixed;
	background-color: $plain-background;
	height: 100%;

	.sidebar-list {
		.sidebar-list-item {
			padding: 15px 25px;
			.fa {
				font-size: 1.5em;
			}
		}
		list-style-type: none;
		padding: 10px 0px;
	}

	#user-info-card {
		padding: 0 25px 25px 25px;
		border-bottom: 1px solid #ddd;
	}
}

#tab-menu {
	li {
		display: table-cell;
		float: none;
	}
	.fa {
		font-size: 1.5em;
	}
	small {
		display: block;
	}
}

#content-div {
	padding-left: 10px;
	padding-top: 6px;
	padding-right: 10px;
}

#main-body-div {
	height: 100%;
	margin-top: 70px;
	margin-bottom: 70px;
}

nav.navbar {
	margin-bottom: 0;
	.navbar-header {
		float: left;
	}
}

.gap-spacer {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}

#login-page-wrapper {
	max-width: 600px;
	margin: 0 auto;
	input[type='submit'] {
		margin: 0 auto;
		margin-top: 10px;
		padding-left: 25px;
		padding-right: 25px;
	}
}

#tab-menu table {
	table-layout: fixed;
	width: 100%;
	text-align: center;
	background-color: $plain-background;
	position: fixed;
	bottom: 0;
	td {
		width: 20%;
		a {
			padding: 10px 0;
			display: block;
		}
	}
}

.narrow-container {
	max-width: 800px;
	margin-left: 0;
}

a>li.sidebar-list-item.active {
	background-color: #337ab7;
	color: white;
	&:hover {
		color: white;
	}
}

.list-group.sidebar-list a.active {
	color: white;
}

#tab-menu a.active {
	background-color: #337ab7;
	color: white;
}

.fa-icon-huge {
	font-size: 6em;
	margin: auto auto;
}

.fa-icon-medium {
	font-size: 4em;
	margin: auto auto;
}

.notification-body {
	display: inline-block;
}

.list-group-item button {
	position: absolute;
	top: 10px;
	right: 10px;
}

.list-group.row .list-group-item {
	margin-bottom: 10px;
	a.picture-sym {
		position: absolute;
		right: 15px;
	}
}

.card-holder {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	a:hover {
		color: white;
		text-decoration: none;
	}
	.panel {
		width: 45%;
		border-color: $theme-background;
		color: white;
		.panel-body {
			text-align: center;
			height: 100px;
			line-height: 100px;
			.fa {
				color: $theme-background;
			}
		}
		.panel-footer {
			background-color: $theme-background;
			color: white;
			text-align: center;
		}
		&:hover {
			background-color: #ededed;
		}
	}
}

.user-details {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  ul {
    list-style: none;
    padding: 0;
    li {
      padding-top: 5px;
    }
  }
}

#action-menu {
	position: absolute;
	display: none;
	top: 50px;
	right: 45px;
	z-index: 2000;
	width: 200px;
	a {
		display: block;
	}
}

.action-icon-holder {
	a {
		text-decoration: none;
	}
}

label.checkbox.inline {
	padding-left: 20px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

@media(min-width: 768px) {
	#content-div {
		padding-left: 260px;
	}

	.notifications-badge {
		right: 90px;
	}

	#main-body-div {
		margin-bottom: 0;
	}

	.card-holder {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		a:hover {
			color: white;
			text-decoration: none;
		}
		.panel {
			display: inline-block;
			width: 20%;
			min-width: 200px;
			margin: 10px 15px;
			border-color: $theme-background;
			color: white;
			.panel-body {
				text-align: center;
				height: 150px;
				line-height: 170px;
				.fa {
					color: $theme-background;
				}
			}
			.panel-footer {
				background-color: $theme-background;
				color: white;
			}
			&:hover {
				background-color: #ededed;
			}
		}
	}
}

@media(max-width: 767px) {
	.img-xs-center {
		margin: 0 auto;
	}
}
